* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  width: 100vw;
  height: 100vh;
  color: #999999;
  font-size: 14px;
  background-color: #f4f6ff;
}

.app {
  top: 10px;
  left: 10px;
  overflow: hidden;
  user-select: none;
  position: absolute;
  border-radius: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
}

.app-header {
  height: 50px;
  display: flex;
  padding: 0 10px;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.app-header > * + * {
  margin-left: 20px;
}

.app-canvas {
  width: 100%;
  height: calc(100% - 50px);
}

input[type="number"] {
  width: 50px;
  height: 23px;
  outline: none;
  padding: 0 10px;
  background: none;
  border-radius: 4px;
  display: inline-block;
  border: 1px solid #ddd;
}

input[type="number"],
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

input[type="number"]:focus {
  border-color: #0053ff;
}

input[type="color"] {
  width: 23px;
  height: 23px;
  float: right;
  display: inline-block;
  border: 1px solid #ddd;
}

input[type="button"] {
  width: 80px;
  height: 23px;
  cursor: pointer;
  line-height: 23px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #ddd;
}

label {
  margin-left: 5px !important;
}